* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	width: 100%;
	padding: 0;
}

section {
	max-width: 1000px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

div {
	display: inline-block;
	padding: 20px;
}

.type div {
	width: 100%;
}

svg {
	vertical-align: middle;
	margin-right: 5px;
}
